{% extends 'base.html' %}

{% block title %} Change Password {% endblock %}

{% block content %}

<!-- <div class="ui text center container segment"> -->
    <h2>Login Form</h2>

    <div class="row">
        <div class="ui container segment">
            <form class="ui form" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="ui secondary button">Change Password!</button>
            </form>
        </div>
    </div>
<!-- </div> -->

{% endblock %}