{% extends 'base.html' %}

{% block content %}

<!-- <div class="ui text center container segment"> -->
    <h2>User Profile</h2>
    <div class="row">
        <!-- {% for post in object_list %} -->
            <div class="ui container segment">
                <h3>{{ page_user }} </h3>
                <!-- <a href="{% url 'category' post.category|slugify %}"><strong> Blog Category : {{ post.category }} </strong> </a>
                <div class="ui right aligned container"> 
                    <strong> Submitted by {{ post.author.first_name }} {{ post.author.last_name }} </strong>
                    <br>
                    <strong> Created on {{ post.created_on}} </strong>
                </div>
                <br>
                <div class="ui container segment">
                    <strong> {{ post.body|slice:":200"|safe}} ... </strong> 
                </div>
                
                <p></p>
                <a class="small ui secondary button" href="{% url 'post_detail' post.pk %}">More Info</a>
                <p></p>
                {% if user.is_authenticated %}
                    {% if user.id == post.author.id %}
                        <p>
                            <a href="{% url 'update_post' post.pk %}" class="tiny ui inverted orange button">Edit</a>
                            <a href="{% url 'delete_post' post.pk %}" class="tiny ui inverted red button">Delete</a>
                        </p>
                    {% endif %}
                {% endif %}
                <br> -->
            </div>
        <!-- {% endfor %} -->
    <!-- </div> -->
<!-- </div> -->

{% endblock %}